.lds-dual-ring {
    display: inline-block;
    width: 20px;
    height: 20px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 12px;
    height: 12px;
    margin: 2px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
.error{
    color: red;
  }
.error-message{
  font-size: 10px;
  color: red;
  width: 250px;
}
.auth_section button{
  display: block !important;
  border: none;
  margin-top: 1.5rem;
  padding: .6rem 2rem !important;
  font-size: 1rem;
}
.resend_code_link{
  margin-top: 2rem;
}
  